@import url("BrowserRice/FireFox colors/nordcolors.css");
@import url("riceExtension/nord.css");

:root {
  --accent:              var(--nordf-4);
  --background:          var(--nordp-0);
  --background-bar:      var(--nordp-3);
  --blank-background:    var(--background);
  --foreground:          var(--nords-0);
  --tab-icon-background: var(--norda-1);
  --newtab-background-color: var(--background);
}