@import url("nord.css");
:root {
--uBo-bg:                            var(--nordp-0);
--uBo-text:                          var(--nords-1);
--logdialog-bg:                      var(--nordp-0);
--logdialog-text:                    var(--nords-1);
--netfilt-bg:                        var(--nordp-0);
--netfilt-text:                      var(--nordp-0);                   
--h2:                                var(--nordp-0);
--h2-text:                           var(--nords-2);
--a:                                 var(--nordf-4);
--code:                              var(--nords-2);
--switch-fa-on:                      var(--norda-3);
--switch-fa-off:                     var(--norda-0);
--tool:                              var(--nordp-1);
--tool-enabled-hover:                var(--nordf-4);
--permatoolbar-bg:                   var(--nordp-2);
--permatoolbar-button:               var(--nordp-3);
--permatoolbar-button-hover:         var(--nordf-3);
--tooltip-bg:                        var(--nords-0);                         
--tooltip-text:                      var(--nordp-0);
--firewallcontainer-bg:              var(--nordp-1);
--firewallcontainer-hover:           var(--nordp-2);
--firewallcontainer-span:            var(--nordp-0);
--borders-fw:                        var(--nordp-0);
--extraTools-bg:                     var(--nordp-1);
--extraTools-spanhover:              var(--nordf-4);
--dashboard-nav-widgets:             var(--nordp-0);
--dashboard-borders:                 var(--nords-0);
--tabbutton:                         var(--nordp-3);
--tab-select:                        var(--nordp-1);
--tabbutton-text:                    var(--nords-2);
--tab-borders:                       var(--nords-0);
--diffli-bg:                         var(--nordp-1);
--diffli-nth-bg:                     var(--nordp-0);
--diff-textarea-bg:                  var(--nordp-3);
--diff-textarea-text:                var(--nords-1);
}